<div class="aux">
    <h1>Available Plays</h1>
    <div class="home-buttons">
        <a class="btn create-play" href="">Create Theater</a>
        <a class="btn create-play" href="">Sort by Date</a>
        <a class="btn create-play" href="">Sort by Likes</a>
    </div>
</div>