<div>
    <div class="home-image">
        <img src="{{imageUrl}}" alt="Card image cap">
    </div>
    <div class="info">
        <h4>{{title}}</h4>
        <div class="info-buttons">
            {{#if isAuthenticated}}
                <a class="btn details" href="/play/details/{{_id}}">Details</a>
            {{/if}}
            <span class="likes">{{usersLiked.length}} likes</span>
        </div>
    </div>
</div>