<main>
    <h1>Welcome to SoftUni Wiki!</h1>
    <section>
        <h2>All articles</h2>
        <div class="spacer">
            <ul>
                {{#each data}}
                    {{>shortArticle}}
                {{else}}
                    <p>No data</p>
                {{/each}}
            </ul>
        </div>
    </section>
</main>