<main>
    <h1>Welcome to SoftUni Wiki!</h1>
    <div class="spacer">
        <h2>{{data.title}}
            
            <div class="controls">
                {{#if isAuthenticated}}
                    <a href="/article/edit/{{data._id}}">[edit]</a>
                {{/if}}

                {{#if data.isOwner}}
                    <a href="/article/delete/{{data._id}}">[delete]</a>
                {{/if}}
            </div>
        </h2>
        <article>
            {{#each data.description}}
            {{>paragraph}}
            {{/each}}
        </article>
    </div>
</main>