<main>
    <h1>Welcome to SoftUni Wiki!</h1>
    {{#if err}}
    <section id="notifications">
        <p>{{err.message}}</p>
    </section>
    {{/if}}
    <section>
        <h2>Edit article
        </h2>
        <div class="spacer">
            <form method="POST">
                <label>Article title</label>
                <h3>{{data.title}}</h3>
                <label>Content</label>
                <textarea name="description">
                    {{data.description}}
                            </textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </section>
</main>