<main>
        <form method="POST">
                <h2>Register</h2>
                <div class="on-dark">
                        <label for="username">Username:</label>
                        <input type="text" placeholder="Username" name="username" value={{err.data.username}}>
                </div>

                <div class="on-dark">
                        <label for="password">Password:</label>
                        <input type="password" placeholder="********" name="password">
                </div>

                <div class="on-dark">
                        <label for="repeatPassword">Repeat Password:</label>
                        <input type="password" placeholder="********" name="repeatPassword">
                </div>

                <button class="btn" type="submit">Register</button>
        </form>
</main>
