<main>
        <h1>Welcome to SoftUni Wiki!</h1>
        {{#if err}}
        <section id="notifications">
                <p>{{err.message}}</p>
        </section>
        {{/if}}
        <section>
                <h2>Login</h2>
                <div class="spacer">
                        <form method="POST">
                                <label>Username:</label>
                                <input type="text" name="username" value={{err.data.username}}>
                                <label>Password:</label>
                                <input type="password" name="password">
                                <input type="submit" value="Login">
                        </form>
                </div>
        </section>
</main>