<nav>
    <div class="left-container">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/hotel/create">Add +</a></li>
        </ul>
    </div>
    <div class="right-container">
        <a href="" class="log-out">{{user.username}}</a>
        <a href="/auth/logout" class="log-out">Logout</a>
    </div>
</nav>